body{
    background-color:bisque;
}
.container{
    display: flex;
    background-color:deepskyblue;
    height: 10vh;
    outline-offset: 50px;
    justify-content: center;
    padding: 30px;
    font-size:larger;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: dashed;
    text-decoration-line: underline;
    text-decoration-style:double;
}
.container2{
    display: flex;
    justify-content: center;
}